:root {
    --main-font-color: rgb(230, 230, 230);
  }
  


body {
    background-color: rgb(29, 30, 34);
}
h1{
    color: var(--main-font-color);
}
hr{
    border-top: 1px solid var(--main-font-color);
}
.hr-page{
    border-top: 1px solid rgb(98, 0, 255);
}